
.editor-container  .editor-image img.focused {
    outline: 2px solid rgb(60, 132, 244);
    user-select: none;
    position: relative;
}

.editor-container .editor-image {
    position: relative;
}

.editor-container .editor-image .button-delete {
    position: absolute;
    top: 2px;
    left: 2px;

}

  
/*.editor-image img.focused.draggable {
    cursor: grab;
}
  
.editor-image img.focused.draggable:active {
    cursor: grabbing;
}
*/